@model RosarioWeb.Models.Estudiantes

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Estudiantes</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Idestudiante" />
            <div class="form-group">
                <label asp-for="Idmateria" class="control-label"></label>
                <select asp-for="Idmateria" class="form-control" asp-items="ViewBag.Idmateria"></select>
                <span asp-validation-for="Idmateria" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Idtutor" class="control-label"></label>
                <select asp-for="Idtutor" class="form-control" asp-items="ViewBag.Idtutor"></select>
                <span asp-validation-for="Idtutor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Idmatricula" class="control-label"></label>
                <select asp-for="Idmatricula" class="form-control" asp-items="ViewBag.Idmatricula"></select>
                <span asp-validation-for="Idmatricula" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Idnota" class="control-label"></label>
                <select asp-for="Idnota" class="form-control" asp-items="ViewBag.Idnota"></select>
                <span asp-validation-for="Idnota" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PrimerNombre" class="control-label"></label>
                <input asp-for="PrimerNombre" class="form-control" />
                <span asp-validation-for="PrimerNombre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SegundoNombre" class="control-label"></label>
                <input asp-for="SegundoNombre" class="form-control" />
                <span asp-validation-for="SegundoNombre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PrimerApellido" class="control-label"></label>
                <input asp-for="PrimerApellido" class="form-control" />
                <span asp-validation-for="PrimerApellido" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SegundoApellido" class="control-label"></label>
                <input asp-for="SegundoApellido" class="form-control" />
                <span asp-validation-for="SegundoApellido" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Sexo" class="control-label"></label>
                <input asp-for="Sexo" class="form-control" />
                <span asp-validation-for="Sexo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Nacionalidad" class="control-label"></label>
                <input asp-for="Nacionalidad" class="form-control" />
                <span asp-validation-for="Nacionalidad" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Departamento" class="control-label"></label>
                <input asp-for="Departamento" class="form-control" />
                <span asp-validation-for="Departamento" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Domicilio" class="control-label"></label>
                <input asp-for="Domicilio" class="form-control" />
                <span asp-validation-for="Domicilio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
